body {
    background-color: #9d9d9d;
}

#header {
    background-color: #3b5998;
    height: 200px;
    color: white;
}

#main-content {
    margin-top: -80px;
}

.links {
    float: right;
    text-transform: uppercase;
    font-size: 16px;
    list-style: none;
}

.links li {
    display: inline-block;
}

.link {
    margin-left: 10px;
    text-underline: none;
    color: white;
    font-weight: 400;
}

.link:hover {
    font-weight: 700;
}

.news-article {
    background-color: white;
    padding: 10px;
}

.news-article .avatar {
    margin-top: 50px;
    text-align: center;
}

.news-article .images img {
    margin-right: 10px;
}

.news-article .location {
    font-size: 16px;
}
